.myf-14 {
  font-size: 14px;
  font-weight: 500;
}
.country img {
  height: 18px;
  width: 30px;
  object-fit: contain;
}
.all-fixtures {
  list-style: none;
  margin: 0;
  padding: 0;
}
.all-fixtures li {
  padding: 10px;
  background-color: rgba(213, 231, 238, 0.14);
  border-bottom: 1px dashed gray;
}
.all-fixtures li:hover {
  background-color: rgba(82, 181, 216, 0.12);
}
.all-fixtures li:last-child {
  border-color: transparent;
}
.all-fixtures li .match-place {
  margin-bottom: 0;
  font-size: 14px;
}
.fx-border {
  border-left: 1px dashed gray;
}
.fixture-rwsult {
  font-size: 17px;
  font-weight: 700;
}
.text-tight {
  font-size: 14px;
}